<header>
    <img src="https://payze.io/assets/images/logo_v2.svg" class="logo" alt="LOGO">
    <img src="https://payze.io/assets/images/white_logo.svg" class="big-screen-logo" alt="LOGO">
    <nav>
        <ul class="nav-ul">
            <li class="medium-d-none">პროდუქტები</li>
            <li class="medium-d-none">საკომისიო</li>
            <li class="medium-d-none">დოკუმენტაცია</li>
            <li class="medium-d-none">FAQ</li>
            <li class="purple purple-bg">რეგისტრაცია</li>
            <li class="white-bg">ავტორიზაცია</li>
            <li class="small-d-none language-li">GE <i class="fa-solid fa-angle-down"></i></li>
        </ul>
    </nav>
</header>