<main>
    <section class="title-section-wrapper">
        <section class="title-section big-f-left container-575">
            <h1 class="z-idx-2">გადახდების მიღების ონლაინ საშუალება</h1>
            <button class="z-idx-2"><i class="fa-solid fa-lock-open"></i> დარეგისტრირდი უფასოდ</button>
            <img class="big-img" src="https://payze.io/assets/images/main_banner.svg" alt="">
        </section>
    </section>
    <img class="bottop-radius" src="https://payze.io/assets/images/Wave-2.svg" alt="">
    <section class="advantages-section container-575">
        <h3>PAYZE-ის უპირატესობები:</h3>
        <article>
            <div>მარტივი ინტეგრაცია</div>
            <div>ტრანზაქცია მინიმალური საკომისიოს გარეშე</div>
            <div>გადახდების მიღება დეპოზიტის გარეშე</div>
            <div>გაყიდვების მართვა და ანალიტიკა</div>
        </article>
    </section>
    <section class="partner-companies">
        <img src="https://payze.io/assets/images/bog.svg" alt="">
        <img src="https://payze.io/assets/images/nbg.png" alt="">
        <img src="https://payze.io/assets/images/mastercard.png" alt="">
        <img src="https://payze.io/assets/images/visa.png" alt="">
    </section>
    <section class="transaction-types-section">
        <h2 class="container-575">მიიღე ონლაინ გადახდები PAYZE API-ს საშუალებით</h2>
        <div class="secondary-title container-575">მიეცი საშუალება მომხარებელს გადაიხადოს მისთვის სასურველი მეთოდით</div>
        <section class="suggestions-list">
            <article class="suggestion-box">
                <article class="suggestion">
                    <h3>თანხის გაყოფა</h3>
                    <div>ავტომატურად გაანაწილე თანხა ტრანზაქციაში მონაწილე რამდენიმე მხარეს შორის. საშუალება, რომელიც შეამცირებს სამუშაო დატვირთვას და მიიღებთ გადახდებს ყველგან და ყოველთვის.</div>
                    <button>დარეგისტრირდი</button>
                </article>
                <img class="medium-d-none-img" src="https://payze.io/assets/images/split_payments.svg" alt="">
            </article>
            <article class="suggestion-box">
                <img class="medium-d-none-img" src="https://payze.io/assets/images/email_payments.svg" alt="">
                <article class="suggestion">
                    <h3>ელ-ფოსტით გადახდა</h3>
                    <div>დააგენერირე ლინკი, გაუგზავნე კლიენტს ელ-ფოსტის მეშვეობით და მიიღე გადახდა ონალინ. ამ მეთოდით გადახდის მიღება თავიდან აგარიდებს როგორც დროის და ფულის დაკარგვას, ასევე მექანიკურ შეცდომებსაც.</div>
                    <button>დარეგისტრირდი</button>
                </article>
            </article>
            <article class="suggestion-box">
                <article class="suggestion">
                    <h3>განმეორებადი გადახდა</h3>
                    <div>ისარგებლე ფეიზის ბარათის შენახვის და განმეორებადი გადახდის მიღების ფუნქციონალით. აღნიშნული სერვისის გამოყენებისას, კლიენტს ბარათის მონაცემების განმეორებით შეყვანა აღარ მოუწევს, შენ კი აღარ გექნება დამატებითი დეველოპმენტის რესურსის
                        საჭიროება.
                    </div>
                    <button>დარეგისტრირდი</button>
                </article>
                <img class="medium-d-none-img" src="https://payze.io/assets/images/recurring_payments.svg" alt="">
            </article>
            <article class="suggestion-box">
                <img class="medium-d-none-img" src="https://payze.io/assets/images/qr-payments.svg" alt="">
                <article class="suggestion">
                    <h3>QR კოდით გადახდა</h3>
                    <div>დააგენერირე QR კოდი, გაუგზავნე კლიენტს და მარტივად მიიღე გადახდა. QR კოდით გადახდა ზოგავს შენს დროს და მომხმარებელს საშუალებას აძლევს, გადაიხადოს ნებისმიერი ბარათით სწრაფად, მარტივად და რაც მთავარია დაცულად.</div>
                    <button>დარეგისტრირდი</button>
                </article>
            </article>
        </section>
    </section>
    <section class="contacts-section">
        <div class="social-media">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook-square"></i>
        </div>
        <div class="mail-box"> <img src="https://payze.io/assets/images/icons/email.svg" alt=""> <a href="">info@payze.ge</a></div>
        <article class="copyright-logo-box">
            <img src="https://payze.io/assets/images/logo_v2.svg" alt="">
            <div class="copyright-box">
                <span>Copyright © 2022 PAYZE</span>
                <div>
                    <a href="">Privacy Policy</a>
                    <a href="">Terms of Service</a>
                </div>
            </div>
        </article>
    </section>
</main>